In [35]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
from sklearn.preprocessing import LabelEncoder # for preprocessing
from sklearn.ensemble import RandomForestClassifier # for training the algorithm
from sklearn.ensemble import ExtraTreesClassifier # for training the algorithm
from sklearn.metrics import accuracy_score
import joblib # for saving algorithm and preprocessing objects

In [36]:
# load dataset
df = pd.read_csv('Rainfall.csv', skipinitialspace=True)
x_cols = [c for c in df.columns if c != 'rainfall' and c!= 'day']
# set input matrix and target column
X = df[x_cols]
y = df['rainfall']
# show first rows of data
df.head()

,day,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,rainfall,sunshine,winddirection,windspeed
0,1,1025.9,19.9,18.3,16.8,13.1,72,49,yes,9.3,80.0,26.3
1,2,1022.0,21.7,18.9,17.2,15.6,81,83,yes,0.6,50.0,15.3
2,3,1019.7,20.3,19.3,18.0,18.4,95,91,yes,0.0,40.0,14.2
3,4,1018.9,22.3,20.6,19.1,18.8,90,88,yes,1.0,50.0,16.9
4,5,1015.9,21.3,20.7,20.2,19.9,95,81,yes,0.0,40.0,13.7

In [37]:
X.head()

,pressure,maxtemp,temparature,mintemp,dewpoint,humidity,cloud,sunshine,winddirection,windspeed
0,1025.9,19.9,18.3,16.8,13.1,72,49,9.3,80.0,26.3
1,1022.0,21.7,18.9,17.2,15.6,81,83,0.6,50.0,15.3
2,1019.7,20.3,19.3,18.0,18.4,95,91,0.0,40.0,14.2
3,1018.9,22.3,20.6,19.1,18.8,90,88,1.0,50.0,16.9
4,1015.9,21.3,20.7,20.2,19.9,95,81,0.0,40.0,13.7

In [38]:
df.columns

Index(['day', 'pressure', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
       'humidity', 'cloud', 'rainfall', 'sunshine', 'winddirection',
       'windspeed'],
      dtype='object')

In [39]:
for col in df.columns:
  
  # Checking if the column contains nulls
  if df[col].isnull().sum() > 0:
    # Sets null values equal to the mean of that column
    val = df[col].mean()
    df[col] = df[col].fillna(val)
# Checks to see if there are any nulls left
df.isnull().sum().sum()

np.int64(0)

In [40]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=None)

In [41]:
rf = RandomForestClassifier(n_estimators = 100)
rf = rf.fit(X_train, y_train)

In [42]:
y_pred = rf.predict(X_test)

In [43]:
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.7545454545454545

In [44]:
joblib.dump(rf, "./random_rainforest.joblib", compress=True)

['./random_rainforest.joblib']