In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
from matplotlib import style
import pickle
import joblib

In [2]:
data = pd.read_csv("student-mat.csv") 
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
print(data.columns)

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [4]:
data = data[["G1", "G2", "G3", "famrel", "traveltime", "studytime", "freetime", "absences", "age", "Medu", "Fedu", "failures", "goout", "Dalc", "Walc"]]

In [5]:
predict = "G3"
X = np.array(data.drop([predict], axis = 'columns')) 
y = np.array(data[predict])
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.1)

In [6]:
linear = linear_model.LinearRegression()
linear = linear.fit(X_train, y_train) 
acc = linear.score(X_test, y_test) 
print(acc)

0.7683498265824905

In [7]:
joblib.dump(linear, "./linear_reg.joblib", compress=True)

['./linear_reg.joblib']

In [8]:
predictions = linear.predict(X_test)
for x in range(len(predictions)): 
    print(predictions[x], X_test[x], y_test[x])

5.649735289767959 [ 8  7  4  1  2  3  0 16  1  3  3  5  1  1] 0
9.71891061898687 [11 10  5  2  1  2  0 18  2  3  0  3  1  2] 10
12.767128243093863 [13 13  4  2  2  2  2 16  2  4  0  2  1  2] 13
14.26349159393059 [12 14  5  1  1  4  0 16  3  2  0  3  1  1] 15
9.148282268527241 [ 8  9  4  4  1  5  0 15  2  1  3  5  2  5] 10
13.433674706761105 [12 14  4  1  3  4  7 17  2  4  0  3  1  1] 14
4.888055944817673 [ 6  5  5  1  1  5 16 17  3  2  3  5  2  4] 5
16.252114375665478 [16 15  5  3  2  4  2 16  4  3  0  3  1  2] 15
14.133609506156171 [11 14  5  1  1  3  6 16  4  4  0  4  1  2] 14
12.02872081072048 [12 12  2  2  2  5 14 17  4  3  0  5  1  4] 12
16.79153589409603 [17 16  4  1  2  5  0 15  4  3  0  2  1  1] 16
5.8142642172146335 [ 7  6  4  1  2  4 10 15  3  2  0  4  1  1] 6
10.743646321064384 [11 12  1  1  2  3 10 16  4  3  0  2  1  1] 13
12.355413367906499 [14 12  4  1  1  4  4 17  3  3  0  3  1  3] 11
10.546778782650533 [11 10  4  4  1  4  8 17  2  2  0  5  5  5] 10
10.240418817909621 [11 10  5  2  2  3  0 16  4  2  0  3  1  1] 10
9.623857342451489 [10 10  5  1  2  2  4 17  4  3  0  3  1  1] 11
8.16904306967005 [10  9  4  2  4  4  0 18  2  2  0  4  1  1] 0
14.073538065752762 [15 14  4  1  4  5  4 18  2  3  0  5  1  3] 14
12.86158123948636 [11 13  4  1  2  3  2 15  4  2  0  3  1  1] 13
15.266505785776808 [16 14  5  1  4  5  6 15  2  2  0  4  1  2] 15
16.186960836928456 [15 15  5  2  2  3  4 15  2  2  0  3  1  3] 15
11.815847794321284 [14 11  3  1  1  4 18 16  4  4  0  4  1  4] 13
11.862548867032329 [12 12  4  1  2  4  0 16  2  2  0  4  1  1] 11
11.76740029017867 [10 13  3  1  2  1  6 16  2  2  1  2  1  1] 13
8.39001832008165 [ 7 10  3  2  4  1  2 15  1  1  1  2  1  1] 10
12.156815744016757 [12 12  4  2  2  4  6 17  2  2  0  4  2  3] 12
4.568395341435789 [ 5  6  4  2  2  3  6 18  4  4  0  4  1  1] 6
10.417185655239605 [10 10  4  1  2  5 17 17  3  1  0  4  2  3] 10
15.55246234842411 [16 15  5  1  3  3  9 18  4  3  0  2  1  2] 16
5.739909226093431 [ 8  6  4  1  2  1 18 16  4  4  0  3  3  5] 7
6.469968263713504 [ 8  7  4  1  2  3  4 16  2  2  0  4  1  2] 6
4.550812411964337 [ 7  6  3  2  1  3  0 17  2  1  2  2  2  2] 0
13.059481563284745 [13 12  4  1  1  5 20 16  2  1  0  2  1  1] 12
13.551805773871438 [14 13  4  1  1  3  8 15  2  2  0  1  1  1] 13
9.457120986688407 [11  9  4  1  1  4 19 17  3  2  1  4  3  4] 10
7.338313498119932 [ 7  8  5  1  4  1  8 15  2  2  0  2  1  1] 8
7.792746332988509 [ 8  9  3  1  2  1  4 17  1  2  0  3  1  5] 10
9.769818116130041 [ 8 10  5  3  2  3  4 16  3  3  0  2  1  1] 10
8.373266916695451 [ 9  9  4  1  2  5  0 16  4  4  0  2  1  2] 10