In [2]:
import json # will be needed for saving preprocessing details
import numpy as np # for data manipulation
import pandas as pd # for data manipulation
from sklearn.model_selection import train_test_split # will be used for data split
from sklearn.preprocessing import LabelEncoder # for preprocessing
from sklearn.ensemble import RandomForestClassifier # for training the algorithm
from sklearn.ensemble import ExtraTreesClassifier # for training the algorithm
import joblib # for saving algorithm and preprocessing objects

In [3]:
df = pd.read_csv("Rainfall.csv")

In [8]:
print(df)

     day  pressure   maxtemp  temparature  mintemp  dewpoint  humidity   \
0      1     1025.9     19.9         18.3     16.8      13.1         72
1      2     1022.0     21.7         18.9     17.2      15.6         81
2      3     1019.7     20.3         19.3     18.0      18.4         95
3      4     1018.9     22.3         20.6     19.1      18.8         90
4      5     1015.9     21.3         20.7     20.2      19.9         95
..   ...        ...      ...          ...      ...       ...        ...
361   27     1022.7     18.8         17.7     16.9      15.0         84
362   28     1026.6     18.6         17.3     16.3      12.8         75
363   29     1025.9     18.9         17.7     16.4      13.3         75
364   30     1025.3     19.2         17.3     15.2      13.3         78
365   31     1026.4     20.5         17.8     15.5      13.0         74

     cloud  rainfall  sunshine           winddirection  windspeed
0        49      yes       9.3                    80.0       26.3
1        83      yes       0.6                    50.0       15.3
2        91      yes       0.0                    40.0       14.2
3        88      yes       1.0                    50.0       16.9
4        81      yes       0.0                    40.0       13.7
..      ...      ...       ...                     ...        ...
361      90      yes       0.0                    30.0       18.4
362      85      yes       1.0                    20.0       25.9
363      78      yes       4.6                    70.0       33.4
364      86      yes       1.2                    20.0       20.9
365      66       no       5.7                    20.0       23.3

[366 rows x 12 columns]

In [10]:
df.isnull().sum() #shows the number of null values per column

day                       0
pressure                  0
maxtemp                   0
temparature               0
mintemp                   0
dewpoint                  0
humidity                  0
cloud                     0
rainfall                  0
sunshine                  0
         winddirection    1
windspeed                 1
dtype: int64

In [11]:
df.columns

Index(['day', 'pressure ', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
       'humidity ', 'cloud ', 'rainfall', 'sunshine', '         winddirection',
       'windspeed'],
      dtype='object')

In [12]:
df.rename(str.strip, axis='columns', inplace=True) #removes extra spaces in columns

In [13]:
df.columns

Index(['day', 'pressure', 'maxtemp', 'temparature', 'mintemp', 'dewpoint',
       'humidity', 'cloud', 'rainfall', 'sunshine', 'winddirection',
       'windspeed'],
      dtype='object')